blinker==1.9.0
cfgv==3.5.0
click==8.3.1
distlib==0.4.0
filelock==3.20.1
Flask==3.0.0
identify==2.6.15
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
nodeenv==1.10.0
platformdirs==4.5.1
pre_commit==4.2.0
PyYAML==6.0.3
virtualenv==20.35.4
Werkzeug==3.1.4
